* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color:  #1C2562;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: #c7cbcf ;
    position: fixed;
    overflow: auto;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
}

.navbar a{
    display: block;
    text-decoration: none;
    text-align: left;
    margin-left: 50px;
    padding: 14px 16px;
    color: #000;
}

.navbar a:hover:not(.active) {
    background-color: #1C2562;
    color: white;
    border-radius: 20px 0px 0px 20px;
}

.active {
    background-color: #0a571d;
    border-radius: 20px 0px 0px 20px;
}

.navbar .dropdown-content .reading{
    background-color: #1C2562;
    color: white;
    border-radius: 20px 0px 0px 20px;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 150px;
    margin-left: 20px;
}

.navbar-item{
    margin-top: 25px;
}
.navbar-item a {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar-item a:hover {
    background-color: edf1f6;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-menu {
        flex-direction: column;
        width: 100%;
    }
    
    .navbar-item {
        width: 100%;
    }
    
    .navbar-item a {
        display: block;
        width: 100%;
    }
}

.navbar img {
    margin-top: -70px;
    margin-left: 40px;
    margin-bottom: -30px;
    padding-left: 20px;
    width: 200px;
    height: 200px;
}

.container {
    margin-left: 25%;
    padding: 0px 16px;
}

.header {
    background-color:#f1f2f3;
    padding: 3px 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 0px 0px 20px 20px;
    font-size: 23px; 
}

.left-header {
    float: right;
    position: relative;
    top: -90px;
    right: 30px;
    cursor: pointer;
}

.main-content {
    background-color: #f1f2f3;
    margin: 0px 20px;
    padding: 3px;
    padding-left: 25px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-radius: 20px;
}

.tanggal{
    font-size: 12px;
    color: #818181;
    margin-top: 5px;
}

.main-content p {
    text-align: justify;
}

.main-content .penjelasan {
    margin-right: 20px;
}


.pdf {
    margin-top: 20px;
    border-radius: 10px;
}

.main-content .video {
    border-radius: 10px;
}

.writing {
    background-color: #1C2562;
    border-radius: 20px 0px 0px 20px;
}